[Dense]
	units = 3600
		[kwargs]
		input_dim = 22491
        kernel_initializer = uniform
        activation = relu
        #kernel_constraint = maxnorm(3)

[Dropout]
	rate = 0.3

[Dense]
	units = 1200
		[kwargs]
        kernel_initializer = uniform
        activation = softplus
        #kernel_constraint = maxnorm(3)

[Dropout]
	rate = 0.3

[Dense]
	units = 1
	[kwargs]
	activation = sigmoid
    
